<div class="row">
    {% for item in data %}
    <div class="col-md-4">
        <div class="card card-outline card-primary collapsed-card">
            <div class="card-header">
                <div class="card-title">
                <span>{{ item.name }}</span><br/>
                <small>[[{{ item.slug }}]]</small>
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-plus"></i></button>
                    <button type="button" class="btn btn-tool js-edit" data-id="{{ item.id }}" title="Edit"><i
                            class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-tool js-delete" data-id="{{ item.id }}" title="Delete"><i
                            class="fas fa-trash-alt"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ item.content|escape }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    {% endfor %}
</div>