<div class="row">
    {% for m in data %}
        {% if (filter == 'image' and m.isImage) or (filter == 'audio' and m.isAudio) or (filter == 'video' and m.isVideo) or not filter %}
        <div class="col-sm-2 file-col">
            <input class="js-media-modal-img-input" id="media-modal-img-{{ m.id }}" type="{{ mode == 1 ? 'radio' : 'checkbox' }}" name="media_modal_img{{ mode == 1 ? '' : '['~ m.id ~']' }}" value="{{ m.uri }}"
                data-name="{{ m.name }}"
                data-type="{{ m.type }}"
                data-is-image="{{ m.isImage }}"
                data-is-audio="{{ m.isAudio }}"
                data-is-video="{{ m.isVideo }}"
                data-html-title= "{{ m.html_title }}"
                data-html-alt= "{{ m.html_alt }}"
            />
            <label for="media-modal-img-{{ m.id }}" title="{{ m.name }}" data-toggle="tooltip">
                {% if m.isImage %}
                    <img src="{{ m.uri }}" class="img-fluid" />
                {% else %}
                    {% if m.isAudio %}
                        <i class="fas fa-file-audio mx-auto"></i>
                    {% else %}
                        {% if m.isVideo %}
                        <i class="fas fa-file-video mx-auto"></i>
                        {% else %}
                            <i class="fas fa-file mx-auto"></i>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </label>
        </div>
        {% endif %}
    {% endfor %}
</div>