<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Uri</th>
        <th>Created at</th>
        <th>Status</th>
        <th>Actions</th>
    </thead>
    </tbody>
        {% for m in data %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.name }}</td>
                <td><a href="{{ m.uri }}" target="_blank">{{ m.uri }}</td>
                <td>{{ m.created_at|date('d/m/Y') }}</td>
                <td>{{ m.status|capitalize }}</td>
                <td>
                    <button class="btn btn-danger js-delete" data-file-id="{{ m.id }}">Trash</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>