<table class="table">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Uri</th>
        <th>Created at</th>
        <th>Status</th>
        <th>Actions</th>
    </thead>
    </tbody>
        {% for p in data %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.title }}</td>
            <td><a href="{{ p.uri }}" target="_blank">{{ p.uri }}</td>
            <td>{{ p.created_at|date('d/m/Y') }}</td>
            <td>{{ p.status|capitalize }}</td>
            <td>
                <a href="/admin/edit-page/{{ p.id }}" class="btn btn-primary js-edit" data-page-id="{{ p.id }}">Edit</a>
                <button class="btn btn-danger js-delete" data-page-id="{{ p.id }}">Trash</button>
                <button class="btn btn-info js-change-status" data-page-id="{{ p.id }}" data-to-status="{{ p.status == 'draft' ? 'active' : 'draft' }}">{{ p.status == 'draft' ? 'Publish' : 'Draft' }}</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>