<form>
    {% for s in data %}
        <div class="form-group row" data-setting-id="{{ s.id }}">
            <label for="sid-{{ s.id }}" class="col-sm-2">
                {{ s.name }}
                <i class="fas fa-info-circle" data-toggle="tooltip" title="{{ s.description }}"></i>
            </label>
            <div class="col-sm-10">
                {% if s.input_type == 'image' %}
                    <input id="sid-{{ s.id }}" type="hidden" name="{{ s.key }}" value="{{ s.value }}" />
                    <figure class="figure figure-thumbnail text-center img-thumbnail">
                        <img class="js-setting-image" src="{{ s.value|default('') }}"/>
                    </figure>
                    <button type="button" class="btn btn-primary btn-sm js-browse-media-btn">Browse</button>
                {% elseif s.input_type == 'select' %}
                    <select class="form-control" name="{{ s.key }}">
                        {% for o in s.options %}
                            <option value="{{ o.value }}"{% if o.value == s.value %} selected{% endif %}>{{ o.label }}</option>
                        {% endfor %}
                    </select>
                {% elseif s.input_type == 'textarea' %}
                    <textarea class="form-control" id="sid-{{ s.id }}" name="{{ s.key }}">{{ s.value }}</textarea>
                {% else %}
                    <input id="sid-{{ s.id }}" type="{{ s.input_type }}" class="{{ s.input_type != 'checkbox' ? " form-control" : "" }}" name="{{ s.key }}" value="{{ s.value }}"{{ s.input_type == 'checkbox' and s.value == 1 ? ' checked' : '' }}>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-sm btn-success">Save all</button>
</form>