<form class="mb-1" data-comment='{{ data|json_encode|raw }}'>
    <div>
        <span class="badge badge-{{ data.status == 'pending' ? 'danger' : 'success' }}">{{ data.status|first|capitalize }}</span>
        <strong>Name:</strong> {{ data.author_name }}, <strong>Email:</strong> {{ data.author_email }}, <strong>Date:</strong> {{ data.created_at|date('Y-m-d H:s') }}
        <div class="d-inline-block btn-wrap">
            <button type="button" class="btn btn-xs btn-primary js-edit" data-id="{{ data.id }}" title="Edit"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-xs btn-info js-add-reply" data-id="{{ data.id }}" title="Add reply"><i class="fas fa-comment-medical"></i></button>
            <button type="button" class="btn btn-xs btn-danger js-delete" data-id="{{ data.id }}" title="Delete"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    <p class="mb-0">{{ data.content }}</p>
</form>