<table class="table">
    <thead>
        <th>Id</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Status</th>
        <th>Actions</th>
    </thead>
    </tbody>
        {% for u in data %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.created_at|date('d/m/Y') }}</td>
            <td>{{ u.status|capitalize }}</td>
            <td>
                <a href="/admin/edit-user/{{ u.id }}" class="btn btn-primary js-edit" data-id="{{ u.id }}">Edit</a>
                <button class="btn btn-danger js-delete" data-id="{{ u.id }}">Trash</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>