{% if data.id is not empty %}
    <input type="hidden" name="id" value={{ data.id }} />
{% endif %}
{% if data.parent_id is not empty %}
    <input type="hidden" name="parent_id" value={{ data.parent_id }} />
{% endif %}
{% set statusArray = [ 'pending', 'active' ] %}
<div class="form-group">
    <label>Author name</label>
    <input type="text" class="form-control" name="author_name" value="{{ data.author_name|default('') }}">
</div>
<div class="form-group">
    <label>Author Email</label>
    <input type="text" class="form-control" name="author_email" value="{{ data.author_email|default('') }}">
</div>
<div class="form-group">
    <label>Content</label>
    <textarea class="form-control" name="content">{{ data.content|default('') }}</textarea>
</div>
<div class="form-group">
    <label>Page</label>
    <select class="form-control" name="page_id">
        <option{{ not data.page_id ? " selected" : ""}} value="">-- none --</option>
        {% for p in pages %}
            <option value="{{ p.id }}"{{ p.id == data.page_id ? " selected" : "" }}>{{ p.title }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label>Status</label>
    <select class="form-control" name="status">
        <option value="">-- none --</option>
        {% for s in statusArray %}
            <option{{ data.status == s ? " selected" : ""}} value="{{ s }}">{{ s|capitalize }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" name="created_at" value="{{ data.created_at|default('') }}" data-calendar>
</div>