{% set generatedId = data.id | default(0) ? data.id : generatedId %}
<div class="list-group-item" data-menu-item-id="{{ generatedId }}">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <input type="hidden" data-field-for="{{ generatedId }}" data-field="order" name="item[{{ generatedId }}][order]" value="{{ data.order | default(0) }}"/>
        <input type="hidden" data-field-for="{{ generatedId }}" data-field="parent" class="js-parent-input" name="item[{{ generatedId }}][parent]" value="{{ data.parent_id | default('') }}"/>
        <input type="hidden" data-field-for="{{ generatedId }}" data-field="url" name="item[{{ generatedId }}][url]" value="{{ data.url }}" />
        {% if data.id | default(0) %}
            <input type="hidden" data-field-for="{{ generatedId }}" data-field="id" name="item[{{ generatedId }}][id]" value="{{ data.id }}" />
        {% endif %}
        <div class="form-inline">
            <label class="px-1">Label</label>
            <input type="text" class="form-control" data-field-for="{{ generatedId }}" data-field="label" name="item[{{ generatedId }}][label]" value="{{ data.label }}" />
        </div>
        <div>
            <a href="{{ data.url }}" target="_blank" class="btn btn-sm btn-link"><i class="fas fa-eye"></i></a>
            <button class="btn btn-sm btn-danger js-delete-menu-item"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="list-group-item nested-sortable" data-children="{{ data.children | default([]) | length }}">
        {# <span class="drag-info-message">Drag here to add a child item</span> #}
        {% for d in data.children | default([]) %}
            {% include "menu-list-item-template.twig" with {data: d} only %}
        {% endfor %}
    </div>
</div>