<table class="table table-bordered table-hover dataTable table-sm" role="grid">
    <caption>Pages</caption>
    <thead>
        <tr role="row">
            <th>Id</th>
            <th>Title</th>
            <th>Uri</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    </tbody>
        {% for p in data %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.title }}</td>
            <td><a href="{{ p.uri }}" target="_blank">{{ p.uri }}</td>
            <td>{{ p.created_at|date('d/m/Y') }}</td>
            <td><span class="badge badge-{{ p.status == 'draft' ? 'danger' : 'success' }}">{{ p.status|capitalize }}</span></td>
            <td>
                <a href="/admin/edit-page/{{ p.id }}" class="btn btn-xs btn-primary js-edit" data-page-id="{{ p.id }}" title="Edit"><i class="fas fa-edit"></i></a>
                <button class="btn btn-xs btn-danger js-delete" data-page-id="{{ p.id }}" title="Delete"><i class="fas fa-trash-alt"></i></button>
                <button class="btn btn-xs btn-info js-change-status" data-page-id="{{ p.id }}" data-to-status="{{ p.status == 'draft' ? 'active' : 'draft' }}" title="{{ p.status == 'draft' ? 'Publish' : 'To Draft' }}"><i class="fas fa-{{ p.status == 'draft' ? 'eye' : 'eye-slash' }}"></i></button>
                {% if not p.is_homepage %}
                    <button class="btn btn-xs btn-info js-set-as-homepage" data-page-title="{{ p.title }}" data-page-id="{{ p.id }}" title="Set as homepage"><i class="fas fa-home"></i></button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Uri</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>