{% set columns = [ { id: 'id', label: 'Id' }, { id: 'title', label: 'Title' }, { id: 'uri', label: 'Uri' }, { id: 'created_at', label: 'Created at' }, { id: 'status', label: 'Status' } ] %}
<table class="table table-bordered table-hover dataTable table-sm" role="grid">
    <caption>Pages</caption>
    <thead>
        <tr role="row">
            {% for item in columns %}
                <th class="sorting{{ sort.column == item.id ? " sorting_"~sort.order : ''}}" data-sort-column="{{ item.id }}"{% if sort.column == item.id %} data-sort-order="{{ sort.order }}"{% endif %}>{{ item.label }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    </tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>
                <input class="bulk-select-row-chk js-bulk-select-row-chk" id="select-bulk-chk-{{ item.id }}" type="checkbox" value="{{ item.id }}" />
                <label class="font-weight-normal" for="select-bulk-chk-{{ item.id }}">{{ item.title }}</label>
            </td>
            <td><a href="{{ item.uri }}" target="_blank">{{ item.uri }}</td>
            <td>{{ item.created_at|date('d/m/Y') }}</td>
            <td><span class="badge badge-{{ item.status == 'draft' ? 'danger' : 'success' }}">{{ item.status|capitalize }}</span></td>
            <td>
                <a href="/admin/edit-page/{{ item.id }}" class="btn btn-xs btn-primary js-edit" data-page-id="{{ item.id }}" title="Edit"><i class="fas fa-edit"></i></a>
                <button class="btn btn-xs btn-danger js-delete" data-page-id="{{ item.id }}" title="Delete"><i class="fas fa-trash-alt"></i></button>
                <button class="btn btn-xs btn-info js-change-status" data-page-id="{{ item.id }}" data-to-status="{{ item.status == 'draft' ? 'active' : 'draft' }}" title="{{ item.status == 'draft' ? 'Publish' : 'To Draft' }}"><i class="fas fa-{{ item.status == 'draft' ? 'eye' : 'eye-slash' }}"></i></button>
                {% if not item.is_homepage %}
                    <button class="btn btn-xs btn-info js-set-as-homepage" data-page-title="{{ item.title }}" data-page-id="{{ item.id }}" title="Set as homepage"><i class="fas fa-home"></i></button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% for item in columns %}
                <th>{{ item.label }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </tfoot>
</table>