<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a class="brand-link {{ settings('site_logo')|default(false) ? " navbar-brand-with-icon" : ""}}" href="/" target="_blank">
    {% if settings('site_logo')|default(false) %}
        <img src="{{ settings('site_logo') }}" alt="Logo" class="brand-image">
    {% endif %}
    <span class="brand-text font-weight-light">{{ settings('site_name')|default('Site name') }}</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
                {% for url, m in menu %}
                    <li class="nav-item{{ m.active ? ' active' : ''}}">
                        <a class="nav-link" href="{{ url }}">
                            {% if m.icon %}
                                <i class="nav-icon {{ m.icon }}"></i>
                            {% endif %}
                            <p>{{ m.label }}</p>
                        </a>
                    </li>
                {% endfor %}
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>