{% set totalItems = totalItems|default(0) %}
{% set itemsPerPage = itemsPerPage|default(10) %}
{% set currentPage = currentPage|default(0) %}
{% set baseUrl = baseUrl|default('') %}
{% set perPageValues = [10, 30, 50, 100] %}

<nav class="d-flex justify-content-between" aria-label="Page navigation">
  <ul class="pagination my-0 pagination-sm js-pagination">
    <li class="page-item{{ currentPage == 1 ? ' disabled' : ''}}"><a class="page-link js-prev" href="{{ baseUrl }}?p={{ currentPage - 1 }}" data-page="prev">Previous</a></li>
    {% if (totalPageCount > 10) %}
      {% if (currentPage > 3 and currentPage < totalPageCount - 2) %}
        <li class="page-item" data-page="1"><a class="page-link js-page" href="{{ baseUrl }}?p=1">1</a></li>
        <li class="page-item" data-page="2"><a class="page-link js-page" href="{{ baseUrl }}?p=2">2</a></li>
        {% if (currentPage > 4) %}
          <li class="page-item"><a class="page-link js-page" href="#">...</a></li>
        {% endif %}
        {% for p in currentPage - 1 .. currentPage + 1 %}
          <li class="page-item{{ p == currentPage ? ' active' : '' }}" data-page="{{ p }}"><a data-page="{{ p }}" class="page-link js-page" href="{{ baseUrl }}?p={{ p }}">{{ p }}</a></li>
        {% endfor %}
        {% if (currentPage < totalPageCount-3) %}
          <li class="page-item"><a class="page-link js-page" href="#">...</a></li>
        {% endif %}
        <li class="page-item" data-page="1"><a class="page-link js-page" href="{{ baseUrl }}?p={{ totalPageCount - 1 }}">{{ totalPageCount - 1 }}</a></li>
        <li class="page-item" data-page="2"><a class="page-link js-page" href="{{ baseUrl }}?p={{ totalPageCount }}">{{ totalPageCount }}</a></li>
      {% else %}
        {% for p in 1 .. 3 %}
          <li class="page-item{{ p == currentPage ? ' active' : '' }}" data-page="{{ p }}"><a data-page="{{ p }}" class="page-link js-page" href="{{ baseUrl }}?p={{ p }}">{{ p }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link js-page" href="#">...</a></li>
        {% for p in totalPageCount - 2 .. totalPageCount %}
          <li class="page-item{{ p == currentPage ? ' active' : '' }}" data-page="{{ p }}"><a data-page="{{ p }}" class="page-link js-page" href="{{ baseUrl }}?p={{ p }}">{{ p }}</a></li>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for p in 1 .. totalPageCount %}
          <li class="page-item{{ p == currentPage ? ' active' : '' }}" data-page="{{ p }}"><a data-page="{{ p }}" class="page-link js-page" href="{{ baseUrl }}?p={{ p }}">{{ p }}</a></li>
      {% endfor %}
    {% endif %}
    <li class="page-item{{ (currentPage == totalPageCount or totalPageCount == 1) ? ' disabled' : ''}}"><a class="page-link js-next" href="{{ baseUrl }}?p={{ totalPageCount }}" data-page="next">Next</a></li>
  </ul>

  <ul class="pagination my-0 pagination-sm js-items-per-page">
    {% for item in perPageValues %}
      <li class="page-item{{ item == itemsPerPage ? ' active' : '' }}"><a data-items-per-page="{{ item }}" class="page-link js-per-page" href="{{ baseUrl }}?pp={{ item }}">{{ item }}</a></li>
    {% endfor %}
  </ul>
</nav>